# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

mock-api/node_modules
*.DS_Store

keys
metrics

# built executables 
rest-api
rest-api*
# logs & zipped logs
*.log
*.gz
# ssh keys?
app.rsa
app.rsa.pub
# misc
rest-api-test
uhero15

